<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Logs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container-fluid d-flex">
        <%- include('../partials/sidebar.ejs') %>
        <div class="container text-center d-flex flex-column">
            <h2 class="text-center form-titulo mb-3">Lista de Logs</h2>
                <div class="logs-container">
                <% if (logs && logs.length > 0) { %>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Data e Hora</th>
                                <th>Mensagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% logs.forEach(log => { %>
                                <tr>
                                    <td><%= new Date(log.dataEHora).toLocaleString() %></td>
                                    <td><%= log.mensagem %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                <% } else { %>
                    <p>Nenhum log encontrado para este usuário.</p>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
