<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-align" id="modalTitle">Status</h5>
        </div>
        <div class="modal-body align-items-start">
          <p id="modalMessage" class="text-start">Mensagem do modal será exibida aqui.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary w-100" id="closeModal">Ok</button>
        </div>
      </div>
    </div>
</div>