<div id="vertical-menu" class="vertical-menu moreWidthAnimation">
    <nav>
        <div class="adjust-image-position" id="adjust-image-position">
            <img id="logo-icon" class="logo-icon" src="/images/logo.svg" >  
            <h1 class="logo-text">CRUD</h1>  
        </div>

        <ul id="actions" class="actions">    
            
            <a href="/">
                <li class="vertical-menu-option inactive"> <img src="/images/sidebar/home.svg" alt="add-client-icon"> <span> Inicio </span> </li>
            </a>

            <span class="categoria"> Cliente </span>
            
            <a href="/clientes/cadastrar">
                <li class="vertical-menu-option inactive"> <img src="/images/sidebar/user-add.svg" alt="add-client-icon"> <span> Cadastrar</span> </li>
            </a>

            <a href="/clientes/">
                <li class="vertical-menu-option inactive"> <img src="/images/sidebar/users.svg" alt="users-icon"> <span> Listar </span> </li>
            </a>

        </ul>
    </nav>
</div>
